@font-face {
  font-family: "iconfont"; /* Project id 2395808 */
  src: url('iconfont.woff2?t=1620567993804') format('woff2'),
       url('iconfont.woff?t=1620567993804') format('woff'),
       url('iconfont.ttf?t=1620567993804') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangke:before {
  content: "\e620";
}

.icon-message:before {
  content: "\e600";
}

.icon-data:before {
  content: "\e60b";
}

.icon-bangzhushouce:before {
  content: "\e614";
}

.icon-zhaopinhui:before {
  content: "\e612";
}

.icon-video:before {
  content: "\e73b";
}

.icon-ts-tubiao_softwareinst:before {
  content: "\e714";
}

.icon-zu:before {
  content: "\e616";
}

.icon-Note:before {
  content: "\ea22";
}

.icon-book:before {
  content: "\e632";
}

.icon-line-demonstration:before {
  content: "\e661";
}

.icon-email:before {
  content: "\e6d4";
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-biaoqianA01_shouye-11:before {
  content: "\ea94";
}

.icon-lanlvtubiaozhizuomoban-01:before {
  content: "\e60a";
}

